.justify-end {
  justify-self: end;
}

.justify-center {
  justify-self: center;
}

.justify-start {
  justify-self: start;
}

.align-center {
  align-self: center;
}

.bold {
  font-weight: bold;
}

.invalidText {
  color: red;
}
