.header-main {
  height: 20em;
  text-align: center;
  background-image: url("../images/topography.svg");
  background-color: antiquewhite;
}

.profile {
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
}
.profile img {
  margin: auto;
}
.profile h2 {
  text-shadow: 0 0 1em #000;
  color: white;
}
