.new-tweet-form {
  display: grid;
  grid-template-rows: auto auto;
}
.new-tweet-form div {
  display: flex;
  justify-content: space-between;
}
.new-tweet-form div input[type="submit"] {
  height: 2em;
  width: 5em;
  width: max-content;
  color: aliceblue;
  background-color: #7d88c4;
  border: none;
  border-radius: 1em;
  font-family: "Bungee";
}
.new-tweet-form div input[type="submit"]:hover {
  background-color: #757dac;
}
.new-tweet-form textarea {
  display: inline-block;
  background-color: inherit;
  min-height: 5em;
  resize: none;
  border: none;
  border-bottom: medium solid;
  margin: 0.5em 0;
}
.new-tweet-form p {
  margin: 0;
  display: none;
  font-weight: bold;
}

.new-tweet {
  display: none;
}
