.new-tweet-form {
  display: grid;
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.new-tweet-form div {
  display: flex;
  justify-content: space-between;
}
.new-tweet-form div input[type="submit"] {
  height: 2em;
  width: max-content;
  background-color: #7d88c4;
  border-radius: 1em;
  min-width: 5em;
  font-family: "Bungee";
  color: aliceblue;
}
.new-tweet-form textarea {
  max-width: 90vw;
  min-width: 90vw;
  min-height: 15vh;
  resize: none;
  background-color: inherit;
  border: none;
  border-bottom: medium solid;
  margin: 0.5em 0px;
  display: inline-block;
}
.new-tweet-form p {
  margin: 0;
  display: none;
  font-weight: bold;
}

.new-tweet {
  display: none;
}
