.new-tweet-form {
  display: grid;
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  div {
    display: flex;
    justify-content: space-between;

    input[type="submit"] {
      height: 2em;
      width: max-content;
      background-color: #7d88c4;
      border-radius: 1em;
      min-width: 5em;
      font-family: "Bungee";
      color: aliceblue;
    }

  }

  textarea {
    max-width: 90vw;
    min-width: 90vw;
    min-height: 15vh;
    resize: none;
    background-color: inherit;
    border: none;
    border-bottom: medium solid;
    margin: 0.5em 0px;
    display: inline-block;
  }

  p {
    margin: 0;
    display: none;
  }

}

.new-tweet {
  display: none;

}