.new-tweet-form {
  display: grid;
  grid-template-rows: auto auto;

  div {
    display: flex;
    justify-content: space-between;

    input[type="submit"] {
      height: 2em;
      width: 5em;
      width: max-content;
      color: aliceblue;
      background-color: #7d88c4;
      border: none;
      border-radius: 1em;
      font-family: "Bungee";

      &:hover {
        background-color: #757dac;
      }
    }

  }

  textarea {
    display: inline-block;
    background-color: inherit;
    min-height: 5em;
    resize: none;
    border: none;
    border-bottom: medium solid;
    margin: 0.5em 0;
  }

  p {
    display: none;
    align-self: center;
    border: 0.2em solid;
    margin: 0;
    padding: 0px 3em;
    font-weight: bold;
  }

}

.new-tweet {
  display: none;

}