.tweet {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  border: 0.2em black solid;
  border-radius: 1em;
  padding: 0.5em;
  margin: 2em 0;
  transition: 300ms;
}
.tweet header {
  display: grid;
  grid-template-columns: auto 5fr 1fr;
}
.tweet .body {
  align-self: end;
  border-bottom: solid;
  border-width: 0.2em;
  margin: 0 0.2em;
}
.tweet .body p {
  margin-bottom: 0.5em;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.tweet footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.tweet footer a {
  color: black;
  text-decoration: none;
}
.tweet:hover {
  -webkit-box-shadow: 0.4em 0.4em 0.2em 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.4em 0.4em 0.2em 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0.4em 0.4em 0.2em 0 rgba(0, 0, 0, 0.75);
}
